*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-color: white;
    --sub-color: #797C80;
}

.flex {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap ;
}

.space-between {
    justify-content: space-between;
}

body{
    font-family: 'Signika', sans-serif;
}
header {
    width: 230px;
    overflow: hidden;
    background-color: black;
    height: calc(100vh - 90px);
}

main {
    width: calc(100% - 230px);
    height:calc(100vh - 90px);
    overflow-y: auto;
    background-color: #141922;
}

div.main-logo img.big-logo {
    width: 67%;
    padding: 1.3rem 0 1.5rem 1.3rem;
}

div.main-logo img.small-logo {
    display: none;
}

nav.music-search ul.playlist {
    padding:  0 0 .5rem 1rem;
}

nav.music-search img {
    width: 50px;
    padding-left: 1.3rem;
}

nav.music-search ul.search li:hover{
    border-left: 2px #AAF545 solid;
    color: var(--main-color);
}


nav.music-search  ul.playlist {
    list-style: none;
}

nav.music-search  ul.playlist li{
    padding-bottom: 1rem;
}

nav.music-search  ul.search li{
    padding-bottom: .5rem;
}

nav.music-search  ul.playlist li,
nav.music-search ul.search span {
    font-size: .8rem;
    padding-left: .3rem;
}

nav.music-search h4 {
    padding: 1rem 0 1rem 1.3rem;
    font-size: .9rem;
}

nav.music-search ul.search span,
nav.music-search  ul.playlist span,
nav.music-search  ul.playlist i,
nav.music-search img{
    vertical-align: middle;
}

nav.music-search  ul.playlist span{
    padding-left: .6rem;
    font-size: .9rem;
}

section.account {
    margin-bottom: 1rem;
}

nav.music-search ul.playlist li:hover,
section.account a:hover {
    color: var(--main-color);
}

section.account a.download-app {
    margin-left: 1rem;
}

section.account a i {
    padding-right: .3rem;
}

hr {
    width: 87%;
    height: 1px;
    margin: .7rem auto;
}

figure {
    width: 26px;
    height: 26px;
    margin-left: 1rem;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background-color: var(--sub-color);
    vertical-align: middle;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

section.account a.profile-name{
    font-size: 1rem;
    vertical-align: middle;
}

main,
header,
section.upgrade button,
section.account a.profile-name{
    color: var(--main-color);
}

nav.music-search h4,
section.upgrade button,
section.music-button {
    text-transform: uppercase;
}

section.upgrade {
    height: 90px;
    text-align: right;
    background-color: #080B12;
}

section.upgrade button {
    border: 1px solid var(--main-color);
    border-radius: 30px;
    padding: .8rem 2.5rem;
    margin: 1.5rem;
    background-color: #080B12;
}

section.upgrade button:hover {
    transform: scale(1.1);
}


section.upgrade button,
section.music-button ul li a,
section.account a  {
    text-decoration: none;
    font-size: .8rem;
}

section.upgrade button,
section.music-button ul li a,
section.created-for p,
section.popular p,
div.disk-card p.artist,
nav.music-search ul.search li span,
nav.music-search ul.playlist li,
section.account a,
footer div.now-description p {
    font-weight: bold;
}


section.music-button {
    text-align: center;
}


section.music-button ul{
    list-style: none;
    margin: 1rem 0 3rem;
}

section.music-button li{
    display: inline-block;
}

section.music-button ul li a{
    margin: 1rem .8rem 0 .8rem;
}

section.music-button ul li a:hover{
    border-bottom: 2px #AAF545 solid;
    border-image: linear-gradient(to right, #141922 25%, #AAF545 50%, #141922 75%) 100% 1;
    color: var(--main-color);
}

section.account figure img:hover {
    filter: invert(1);
}

section.music-button ul li a,
section.popular p,
section.created-for p,
div.disk-card p.artist,
nav.music-search ul li,
section.account a,
footer div.now-description p,
footer div.now-button i {
    color: var(--sub-color);
}

section.recently h2{
    margin: 2rem 1rem;
}

section.created-for h2,
section.popular h2{
    margin: 2rem 0 .8rem 1rem;
}

section.recently h2,
section.created-for h2,
section.popular h2{
    font-size: 1.6rem;
    font-weight: 900;
}

section.created-for p,
section.popular p{
    margin: 0 0 2rem 1rem;
    font-size: .8rem;
}

div.disk-card {
    margin:0 .7rem;
    width: calc((100% / 6) - 1.4rem);
    text-align: center;
    padding-bottom: 1rem;
}

div.disk-cover {
    position: relative;
}

div.disk-cover i{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 2rem;
    display: none;
}

div.disk-card img{
    max-width: 100%;
}

div.disk-card:hover img {
    filter: opacity(50%);
    transition: all 5ms ease-in-out;
}

div.disk-card:hover i {
    display: inline;
}


div.disk-card h3.song {
    margin: 1rem 0 .5rem 0;
    font-size: 1rem;
}

div.disk-card p.artist {
    font-size: .8rem;
}

div.disk-card div.rounded{
    border-radius: 50%;
    overflow: hidden;
}

footer {
    height: 90px;
    background-color: #282828;
    align-items: center;
    color: var(--main-color);
}

footer section.now-listening,
footer section.sound {
    width: 20%;
}

footer section.player {
    width: 45%;
    text-align: center;
}

footer section.sound {
    justify-content: end;
}


footer div.now-cover {
    margin-right: .5rem;
}

footer div.now-description{
    margin-right: 2rem;
}

footer div.now-cover img{
    object-fit: contain;
    height: 60px;
    width: 60px;
    padding: .4rem;
}

footer div.now-description,
footer div.now-button {
    align-self: center;
}

footer div.now-description h4{
    font-size: .9rem;
}

footer div.now-description p{
    font-size: .7rem;
}

section.player div.player-buttons {
    margin-bottom: 1rem;
}

section.player div.player-buttons i,
section.sound > i{
    vertical-align: middle;
    padding: 0 .7rem;
}


section.player div.duration p {
    font-size: .8rem;
    vertical-align: middle;
}

section.player div.duration-bar {
    width: 60%;
    align-items: center;
    padding: 0 1rem;
}

footer div.spent,
footer div.remaining {
    height: 4px;
}

footer div.spent {
    width: 25%;
    background-color: lightgrey;
    border-radius: 4px;
    position: relative;
}

footer i.fa-circle {
    display: none;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-10%, -50%);
}

footer div.remaining {
    width: 75%;
    background-color: grey;
    border-radius: 0 4px 4px 0;
}

section.sound div.volume{
    width: 30%;
    align-items: center;
    padding-right: .3rem;
}

footer div.now-description p:hover{
    text-decoration: underline;
    color: var(--main-color);
}

footer div.now-button i:hover {
    color: var(--main-color);
}

footer div.player-buttons i.fa-circle-play:hover{
    transform: scale(1.2);
}

footer section.sound div.volume:hover div.spent,
footer section.player div.duration-bar:hover div.spent{
    background-color: #AAF545;
}

footer section.sound div.volume:hover i.fa-circle,
footer section.player div.duration-bar:hover i.fa-circle{
    display: inline;
}


/* MEDIA QUERY */

/* Dimesioni medium */

@media screen and (max-width: 992px) {
    div.disk-card {
        width: calc((100% / 4) - 1.4rem);
    }
    section.music-button ul li {
        padding-bottom: 2rem;
    }
}

/* Dimesione small */
@media screen and (max-width: 768px){
    div.disk-card {
        width: calc((100% / 2) - 1.4rem);
    }

    section.music-button ul {
        margin-bottom: 0;
    }

    section.music-button ul li {
        padding-bottom: 2rem;
    }
}

/* Dimensione extra small */
@media screen and (max-width: 576px) {
    header {
        width: 40px;
        text-align: center;
    }

    div.main-logo img.big-logo {
        display: none;
    }

    div.main-logo img.small-logo {
        display: inline-block;
        width: 65%;
        padding: .5rem 0 1rem 0;
    }

    nav.music-search img {
        width: 26px;
        padding-left: 0;
    }


    section.account {
        text-align: center;
    }

    section.account figure{
        margin: .7rem 0 0 0;
    }
    
    section.account a.download-app {
        margin: 0;
    }

    section.account a.download-app i{
        padding: 0;
    }


    main {
        width: calc(100% - 40px);
    }

    header span,
    header h4,
    header ul.playlist,
    hr,
    section.account a.download-app span,
    section.account a.profile-name,
    footer .now-description p,
    footer .now-button {
        display: none;
    }

    footer section.sound i.fa-solid {
        padding: 0 .2rem;
    }

    footer i {
        font-size: .7rem;
    }
}