*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

header {
    width: 230px;
    overflow: hidden;
    background-color: black;
    height: calc(100vh - 80px);
    color: white;
}


main {
    width: calc(100% - 230px);
    height:calc(100vh - 80px);
    overflow: scroll;
    background-color: #141922;
}

section.upgrade {
    text-align: right;
    height: 80px;
    background-color: #080B11;
}

section.music-button {
    text-align: center;
}
section.music-button ul{
    list-style: none;
}

section.music-button li{
    display: inline-block;
}

div.test {
    height: 150px;
    width: 150px;
    background-color: red;

}
footer {
    height: 80px;
    position: fixed;
    background-color: #282828;
    width: 100vw;
}


/* MEDIA QUERY */

/* Dimesioni medium */

@media screen and (max-width: 992px) {
    
}

/* Dimesione small */
@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 576px) {
    header {
        width: 60px;
    }

    main {
        width: calc(100% - 60px);
    }

    header span,
    header h4,
    header ul.playlist {
        display: none;
    }
}