*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-color: white;
    --sub-color: #797C80;
}
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap ;
}

.space-between {
    justify-content: space-between;
}

header {
    width: 230px;
    overflow: hidden;
    background-color: black;
    height: calc(100vh - 60px);
}


main {
    width: calc(100% - 230px);
    height:calc(100vh - 60px);
    overflow: scroll;
    background-color: #141922;
}

div.main-logo img.big-logo {
    width: 67%;
    padding: 1.3rem 0 1.5rem 1.3rem;
}

div.main-logo img.small-logo {
    display: none;
}

nav.music-search ul.search li,
nav.music-search ul.playlist {
    padding:  0 0 .5rem 1rem;
}

nav.music-search img {
    width: 26px;
    vertical-align: middle;
}

nav.music-search  ul.playlist {
    list-style: none;
}

nav.music-search  ul.playlist li {
    padding-bottom: 1rem;
}


nav.music-search  ul.playlist li,
nav.music-search ul.search span {
    font-size: .8rem;
    padding-left: .3rem;
}

nav.music-search h4 {
    padding: 1rem 0 1rem 1rem;
    font-size: .9rem;
}

nav.music-search ul.search span,
nav.music-search  ul.playlist span,
nav.music-search  ul.playlist i{
    vertical-align: middle;
}

nav.music-search  ul.playlist span{
    padding-left: .6rem;
    font-size: .9rem;
}

section.account a.download-app {
    margin-left: 1rem;
}

section.account a i {
    padding-right: .3rem;
}

hr {
    width: 87%;
    height: 1px;
    margin: .7rem auto;
}

figure {
    width: 26px;
    height: 26px;
    margin-left: 1rem;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    background-color: var(--sub-color);
    vertical-align: middle;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

section.account a.profile-name{
    font-size: 1rem;
    vertical-align: middle;
}

main,
header,
section.upgrade a,
section.account a.profile-name{
    color: var(--main-color);
}

nav.music-search h4,
section.upgrade,
section.music-button {
    text-transform: uppercase;
}

section.upgrade {
    height: 90px;
    text-align: right;
    background-color: #080B12;
    padding-top: 2.2rem;
}

section.upgrade a {
    border: 1px solid var(--main-color);
    border-radius: 30px;
    padding: .8rem 2.5rem;
    margin: 2rem;
}

section.upgrade a,
section.music-button ul li a,
section.account a  {
    text-decoration: none;
    font-size: .8rem;
}

section.upgrade a,
section.music-button ul li a,
section.created-for p,
section.popular p,
div.disk-card p.artist,
nav.music-search ul.search li span,
nav.music-search ul.playlist li,
section.account a {
    font-weight: bold;
}


section.music-button {
    text-align: center;
}


section.music-button ul{
    list-style: none;
    margin: 1rem 0 3rem;
}

section.music-button li{
    display: inline-block;
}

section.music-button ul li a{
    padding: .8rem;
}

section.music-button ul li a,
section.popular p,
section.created-for p,
div.disk-card p.artist,
nav.music-search ul li,
section.account a {
    color: var(--sub-color);
}

section.recently h2{
    margin: 2rem 1rem;
}

section.created-for h2,
section.popular h2{
    margin: 2rem 0 .8rem 1rem;
}

section.recently h2,
section.created-for h2,
section.popular h2{
    font-size: 1.6rem;
    font-weight: 900;
}

section.created-for p,
section.popular p{
    margin: 0 0 2rem 1rem;
    font-size: .8rem;
}

div.disk-card {
    margin-left: 1rem;
    width: 180px;
    text-align: center;
    padding-bottom: 1rem;
}

div.disk-card h3.song {
    margin: 1rem 0 .5rem 0;
    font-size: 1rem;
}

div.disk-card p.artist {
    font-size: .8rem;
}

img{
    width: 100%;
}

footer {
    height: 60px;
    background-color: #282828;
}

/* MEDIA QUERY */

/* Dimesioni medium */

@media screen and (max-width: 878px) {
    div.disk-card {
        width: 140px;
    }
}

/* Dimesione small */
@media screen and (max-width: 639px){
    div.disk-card {
        width: 180px;
    }

    section.music-button ul {
        margin-bottom: 0;
    }

    section.music-button ul li {
        padding-bottom: 2rem;
    }
}

/* Dimensione extra small */
@media screen and (max-width: 576px) {
    header {
        width: 40px;
        text-align: center;
    }

    div.main-logo img.big-logo {
        display: none;
    }

    div.main-logo img.small-logo {
        display: inline-block;
        width: 65%;
        padding: .5rem 0 1rem 0;
    }

    nav.music-search img {
        width: 65%;
    }

    nav.music-search ul.search li {
        padding: 0;
    }

    section.account {
        text-align: center;
    }
    section.account a.download-app {
        margin: 0;
    }

    section.account a.download-app i{
        padding: 0;
    }


    section.account figure {
        margin: 1.5rem 0 1.5rem 0;
    }

    main {
        width: calc(100% - 40px);
    }

    div.disk-card {
        width: 230px;
    }

    header span,
    header h4,
    header ul.playlist,
    section.account a.download-app span,
    hr,
    section.account a.profile-name {
        display: none;
    }
}